@media (min-width: 768px) {
  .p-test__container{
    margin: 0 auto;
    width: 1142px;
  }
  .b-form{
    display: inline-block;
    width: 468px;
    vertical-align: middle;
  }
  .b-polythene{
    display: inline-block;
    width: 586px;
    vertical-align: middle;
  }
}
